#quiz-timer {
    position: fixed !important;
    bottom: 0 !important;
    right: 0 !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: white !important;
    font-size: x-large !important;
    padding: 10px !important;
    z-index: 2147483647 !important;
    pointer-events: none !important;
}